<app-main-header></app-main-header>
<section class="main-content main-wrap">

  <div class="main-wrap-inner">
    

    <div class="gs main-header-info">
      <div class="lay-40 left-col">
        <h2 class="main-title">Hey.</h2>
        <small>Thanks for being curious about my life.</small>
      </div>
      <div class="lay-60 right-col">
        <figure>
          <img src="assets/me.png" alt="">
        </figure>
      </div>
    </div>

    <h3 class="main-title">A short work related autobiography </h3>

    <!-- <div class="list-icons">
      <div class="list-icon gs">
        <div class="lay-20 left-col">
          <i class="material-icons">favorite</i>
        </div>
        <div class="lay">
          <h4>Start with empathy</h4>
          <p>Dig deep. Creating a solution to a specific problem should always start with developing a genuine and personal understanding of the people being affected by that problem. Designing a purposeful solutions comes from engaging in the user’s daily lives and trying to understand their xperiences and motivations.</p>
        </div>
      </div>

      <div class="list-icon gs">
        <div class="lay-20 left-col">
          <i class="material-icons">search</i>
        </div>
        <div class="lay">
          <h4>Research and discovery</h4>
          <p>The sooner you can begin the discovery and research phase, the better. Using the right research methods is a very valuable in producing data and insights. But like most design process, it does not have to be a linear ‘start & finish’ task. Research should continue throughout the entire life cycle of a product. This will lead to a refined product that constantly evolves with the needs of users. </p>
        </div>
      </div>

    </div> -->

  </div>


</section>