.main-header-info
  .left-col
    img
      max-width: 400px
      height: auto

  .box-shadow
    font-weight: 300
    max-width: 500px
    line-height: 1.5em

    &:before
      content: ''
      position: absolute
      height: 20px
      width: 3px
      background-color: #6100FF
      left: 12px
      top: 24px

    p
      padding: 0
      margin: 0

h2.main-title
  font-size: 148px
  text-align: center

  span
    display: block
    font-size: 110px
    font-weight: 100

h3.main-title
  font-size: 50px
  text-align: center
  font-weight: 500
  padding: 3em 0


.list-icons
  max-width: 900px
  margin: auto

  .list-icon
    padding: 0 0 3em 

    .left-col
      &:before
        content: ''
        position: absolute
        height: 160px
        border-left: 1px dashed #6100FF
        left: 40px
        top: 80px

    &:last-child
      .left-col
        &:before
          display: none

    i
      color: #6100FF
      font-size: 80px
      background: #fff
      z-index: 2;
      position: relative
      top: -10px

      &.bkg-white

    h4
      font-size: 50px
      padding: 0
      margin: 0

    p
      font-weight: 300
      line-height: 1.5em