.main-wrap-inner-900
  max-width: 900px
  margin: auto

.main-header-info
  //padding: 5em 0

  figure
    margin: 0

  img
    max-width: 380px
    height: auto
    top: 80px
    position: relative

  h2.main-title
    padding: 0
    margin: 0
    font-size: 260px

  small
    padding: 0
    top: -25px
    position: relative
    left: 16px
    font-size: 16px
    font-weight: 300

  span
    display: block
    font-size: 40px
    font-weight: 500
    padding: 50px 0 0

.main-title
  font-size: 50px
  font-weight: 500
  padding: 0


.list-cards
  max-width: 900px
  margin: auto
  padding-bottom: 5em

  .list-card
    margin-bottom: 3em

    .list-card-inner
      //border-left: 5px solid #6100FF
      border-radius: 8px
      padding: 1em 2em
      border: 1px solid #DFDFE2
      background-color: #fff

    h3
      font-size: 30px
      //font-weight: 500
      padding: .5em 0
      margin: 0

    p
      font-weight: 300
      line-height: 1.8em
      margin: 0


.list-timeline

  .timeline-item
    padding: 30px 0

    &:nth-child(odd)
      
      .box-shadow
        text-align: right
        box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1)

        .corner
          box-shadow: 3px -3px 5px 0 rgba(0, 0, 0, 0.05)
          right: -10px

      .box-shadow-line
        &:after
          right: -16px

        &:before
          //right: -50px
        
    &:nth-child(even)
      text-align: right

      .box-shadow
        text-align: left
        box-shadow: -4px 4px 14px 0 rgba(0, 0, 0, 0.1)

        .corner
          box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.05)
          left: -10px

      .box-shadow-line

        &:after
          left: -16px

        &:before
          //left: -51px

    &:last-child

      .box-shadow-line,
      .box-shadow
        &:before
          display: none

  .box-shadow-line
    position: absolute
    height: 100%
    //outline: 1px solid #130101
    z-index: 1
    right: 50%

    &:after
      content: ''
      position: absolute
      background-color: #000
      //background-color: #6100FF
      border-radius: 100%
      top: 30px
      width: 32px
      height: 32px

    &:before
      content: ''
      position: absolute
      border-right: 1px dashed #000
      width: 0
      height: 99%
      top: 65px

  .box-shadow
    display: inline-block
    max-width: 500px
    padding: 20px 30px
    border: 1px solid #eaeaea

    // &:after
    //   content: ''
    //   position: absolute
    //   background-color: #6100FF
    //   border-radius: 100%
    //   top: 30px
    //   width: 32px
    //   height: 32px

    // &:before
    //   content: ''
    //   position: absolute
    //   border-right: 1px dashed #000
    //   width: 0
    //   height: 110%
    //   top: 65px
    
    .corner
      width: 20px
      height: 20px
      top: 33px
      display: block
      position: absolute
      background-color: #fff
      transform: rotate(45deg)
        

    p
      font-weight: 300
      line-height: 1.5em

    h3
      font-size: 36px
      padding: 0
      margin: 0

    b
      font-weight: 500
      font-size: 20px

// Animations

.list-card
  transition: all 1s
  top: 100px
  opacity: 0

  &.apply-animation
    opacity: 1
    top: 0

.timeline-item
  
  .box-shadow
    transition: all 1s
    position: relative
    opacity: 0

  &:nth-child(odd)
    .box-shadow
      transform: translate(-100px, 0)

  &:nth-child(even)
    .box-shadow
      transform: translate(100px, 0)

  &.apply-animation

    .box-shadow
      opacity: 1
      transform: translate(0, 0)

