<app-main-header></app-main-header>
<section class="main-content main-wrap">

  <div class="main-wrap-inner-900">
    
    <div class="gs main-header-info">
      <div class="lay-60 left-col">
        <h2 class="main-title">Hey.</h2>
        <small>Thanks for being curious about my life.</small>
        <span>A short work related autobiography</span>
      </div>
      <div class="lay-40 right-col">
        <figure class="align-center">
          <img src="assets/me-story.png" alt="">
        </figure>
      </div>
    </div>

    <!-- <h3 class="main-title">A short work related autobiography</h3> -->

    <div class="list-cards">

      <!-- <div class="list-card has-transition" [ngClass]="{'apply-animation': animations.apply1}"> -->
      <div class="list-card show-initialy">
        <h3>Chapter 1:  Forever Curious</h3>
        <div class="list-card-inner">
          <p>Like most people, I was born. I grew up in different parts of the States, but California is home. Two days after I turned 18, I moved to Los Angeles to pursue my dream of working in the film industry. So I got a job as assistant camera, and I was really good at it. This is was my first attempt and becoming a creative professional. I liked it, but I wanted more. Everything interested me. I wanted to know what electricians knew. I wanted to be a nurse. I wanted create short films. I wanted to learn how to make a website. I wanted to learn how to Scuba dive.</p>
        </div>
      </div>

      <div class="list-card" [ngClass]="{'apply-animation': animations.apply2}">
        <h3>Chapter 2: Curious Exploration</h3>
        <div class="list-card-inner">
          <p>My professional life has been a roller coaster with many twists and turns. From working graveyard shifts in a hospital, to working desolate oil fields in North Dakota. Restaurants, the film industry, advertising, and sales. Photography, printing, and video production. All of these past professional experiences fuel my curiousity fire.</p>
        </div>
      </div>

      <div class="list-card" [ngClass]="{'apply-animation': animations.apply3}">
        <h3>Chapter 3: Career Happiness</h3>
        <div class="list-card-inner">          
          <p>This forever curious part of my personality still exists and as a result, I am one of the few lucky people that found a profession that is truly fulfilling. I am going to keep saying this, “I love my job.” As a UX designer, I have worked with insurance, alcohol, warehousing, fintech, construction, agriculture and logistics industries. And sure it’s great to satisfy my investigative mind, but my UX career  has a deeper meaning than self satisfaction. People - the real reason I do this is because of the people. I work on solving problems that affect thousands of individuals and being able to help one person remove any amount of stress out of their life is why I do what I do.  </p>
        </div>
      </div>

    </div>
  </div>
  
  <div class="main-wrap-inner">

    <h3 class="main-title align-center">A brief timeline of my professional life</h3>

    <div class="list-timeline">

      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply4}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>Digital designer</h3>
          <b>Dennison Media Group  '03 - '06</b>
          <p>At DMG, I was an all around workhorse, getting my hands into everything I could, from video editing to magazine design. It was here that I was first exposed to design thinking, thanks to my mentor. My motivation to learn was relentless, and becasue of the company culture, I was able to thrive.</p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply5}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>Editor | Designer</h3>
          <b>Media Systems '06 - '08</b>
          <p>And then one day I decided to move to Hawaii. While I was there I worked with a company shooting lots of different projects, both corporate and private. I took my experience at DMG and also started designing print marketing materials. I enjoyed the weather a lot. </p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply6}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>Video Producer</h3>
          <b>Major League Soccer & NBA ’08 - ‘11</b>
          <p>From the beaches of Hawaii to… Utah. I worked for the NBA and MLS, producing video content for the Utah Jazz and Real Salt Lake. I got to make some really cool videos, a lot of them which played during the games. Nothing prepares you for a design critique like waiting to hear the reaction from 30,000 fans watching your video in real time.</p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply7}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>Health & Safety Manager</h3>
          <b>Enseco Energy ’11 - ‘13</b>
          <p>Now for the big swerve. I left behind the creative world to work in the oil fields in North Dakota. I was looking for a new challenge, and I definitely found one. I was responsible for managing a team of more than 80 people and making sure they came home safe every day — nothing in my life could have prepared me for that.</p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply8}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>Safety Data Analyst</h3>
          <b>Hess Corporation ’14 - ‘15</b>
          <p>I took a little hiatus to go see some of the world, and take a little break from the oil fields. But lo and behold, before I knew it I was back in North Dakota. My job was to take the massive amount of data we were collecting, and using it to tell a story. It was a really cool way to merge my creative and analytical minds, and taught me invaluable lessons about communicating with stakeholders.</p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply9}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>Cofounder & Designer</h3>
          <b>DakotaFox ’14 - ‘15</b>
          <p>All those days spent diving into data led me to uncover an issue nobody seemed to be paying attention to out in the oil fields. Trucks were repeatedly hitting power lines, costing the company tens of thousands of dollars each time it happened, and more urgently, it was putting the driver’s lives in real danger.</p>

          <p>My partner and I designed a physical system to help truck drivers identify upcoming power lines. We tested, prototyped and iterated until we found a real, working solution. We ended up selling our design to a multinational distribution company.</p>

        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply10}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>Travel & UX Discovery</h3>
          <b>RED Academy ’17 - ‘17</b>
          <p>I learned a ton in the oil industry, but I was ready for a break. A really long break. I spent a year and a half travelling, picking up some freelance projects and seeing things I’ve always wanted to. After a lot of thought, I realized that all the lessons I’d learned in my career were pointing me towards User Experience Design. So that's what I do now; I completed a full time intensive UX design course in Toronto, graduated and jumped right into the startup world.</p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply11}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>UX Product Designer</h3>
          <b>Rokk3r Labs ’17 - '18</b>
          <p>Rokk3r Labs and I decided to work together to solve complex problems in Miami and Latin America. I worked on many startup projects. And instead of producing a minimum viable product, I always pushed hard to design and build minimum lovable products.</p>

          <p>I worked on projects in blockchain document authentication, insurtech, crypto exchange, supply chain, business management, and more.</p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply12}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>UX Product Designer</h3>
          <b>Rokk3r Labs ’17 - '18</b>
          <p>I worked with Pallco, a startup based in Mexico City, as the single product designer. Managing many aspects of the product, (as well as maintaining investor expectations and relationships) was an exciting challenge. After months of planning, research, and design collaboration, we shipped a product that was validated and ready for scale.</p>
          <p>Pallco is a SaaS app. It allows small and medium size businesses to find and book flexible warehousing.</p>
        </div>
      </div>
      <div class="timeline-item" [ngClass]="{'apply-animation': animations.apply13}">
        <div class="box-shadow-line"></div>
        <div class="box-shadow">
          <div class="corner"></div>
          <h3>EF Education First</h3>
          <b>EF Education First - Current</b>
          <p>Rokk3r Labs and I decided to work together to solve complex problems in Miami and Latin America. I worked on many startup projects. And instead of producing a minimum viable product, I always pushed hard to design and build minimum lovable products.</p>

          <p>I worked on projects in blockchain document authentication, insurtech, crypto exchange, supply chain, business management, and more.</p>
        </div>
      </div>
    </div>


  </div>


</section>
<app-main-footer></app-main-footer>