<footer class="main-wrap">
  <nav class="icons">
    <a href="https://www.linkedin.com/in/hellonicko/" target="_blank">
      <img src="assets/linkedin.svg" alt="">
    </a>
    <a href="https://medium.com/@hellonicko" target="_blank">
      <img src="assets/medium.svg" alt="">
    </a>
    <a href="nichpeckham@gmail.com">
      <img src="assets/email.svg" alt="">
    </a>
  </nav>
  <div class="copy">
    <span>Designed by yours truly with </span>
    <i class="material-icons">favorite</i>
  </div>
</footer>