<app-main-header></app-main-header>
<section class="main-content main-wrap">

  <div class="gs main-description main-wrap-inner">
    <div class="lay">
      <div class="main-info">
        <p>Hey, I’m Nicko, a <b>UX designer</b> who is currently using creative collaboration and design process to solve complex problems for startups in Miami and Latin America. I love what I do. </p>

        <div class="__buttons">
          <a href="" class="btn btn-black">Projects</a>
          <a routerLink="/story" class="btn btn-white">Story</a>
        </div>
      </div>
    </div>
    <div class="lay">
      <figure>
        <img src="assets/me.png" alt="">
      </figure>
    </div>
  </div>

  <section class="section-projects main-wrap-inner">

    <h2>PROJECTS</h2>

    <div class="project-boxes">
      
      <div class="project-box">

        <div class="gs">
          <div class="lay">
            <h3>Cubic.mx</h3>
            <div class="box-shadow">
              <p>Brewbox is a subscription-based, craft beer delivery service. The Brewbox team was looking to add a second product without detracting from their core service. </p>

              <p>To deliver an improved user experience, the UX team and I implemented an end-to-end service for both customers and suppliers, as well as collaborating with an industrial designer to rethink the Brewbox packaging.</p>

              <a href="" class="btn btn-black">View Project</a>
            </div>
          </div>
          <div class="lay">
            <figure>
              <img src="//dummyimage.com/600x400" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay order-2">
            <h3>Emerge.me</h3>
            <div class="box-shadow">
              <p>Emerge is an online marketplace challenging the status quo of supplemental insurance. As a startup, they needed help pushing their desktop and mobile experiences in the right direction.</p>

              <p>I was hired to collaborate with the team and improve the UX/UI throughout the site. In the end, I redesigned multiple aspects of the site which resulted in reduced bounces rates, higher conversions, and ultimately more sales.</p>

              <a href="" class="btn btn-black">View Project</a>
            </div>
          </div>
          <div class="lay order-1">
            <figure>
              <img src="//dummyimage.com/600x400" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay">
            <h3>Brewbox.ca</h3>
            <div class="box-shadow">
              <p>Brewbox is a subscription-based, craft beer delivery service. The Brewbox team was looking to add a second product without detracting from their core service. </p>

              <p>To deliver an improved user experience, the UX team and I implemented an end-to-end service for both customers and suppliers, as well as collaborating with an industrial designer to rethink the Brewbox packaging.</p>

              <a href="" class="btn btn-black">View Project</a>
            </div>
          </div>
          <div class="lay">
            <figure>
              <img src="//dummyimage.com/600x400" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay order-2">
            <h3>DakotaFox</h3>
            <div class="box-shadow">
              <p>As the cofounder of DakotaFox, we designed a physical product for rural roads in North Dakota to alert truck drivers to low hanging power lines. Accidents stemming from power line collisions were costing companies around $50,000 USD. </p>

              <p>After conducting numerous interviews, rapid prototyping and field testing, we built a solution that also stood up to the unique challenges of the extreme North Dakota weather.  </p>

              <a href="" class="btn btn-black">View Project</a>
            </div>
          </div>
          <div class="lay order-1">
            <figure>
              <img src="//dummyimage.com/600x400" alt="">
            </figure>
          </div>
        </div>
      </div>

    </div>




  </section>
</section>
<app-main-footer></app-main-footer>