.main-description
  padding: 5em 0

  .main-info
    padding: 5em 0 0

  p
    font-size: 18px
    font-weight: 100
    line-height: 1.5em

    b
      font-weight: bold
      font-size: 24px

  .__buttons
    padding: 1em 0
    .btn-black
      margin-right: 1em 


  figure
    text-align: center

    img
      width: 370px
      height: auto


.section-projects
  h2
    position: relative
    font-size: 60px
    padding: 0 0 0 15px
    line-height: 60px

    &:before
      content: ''
      background-color: #6100FF
      width: 5px
      height: 100%
      position: absolute
      left: 0


  .project-boxes

    .project-box
      padding: 6em 0

      &:nth-child(odd)
        //background-color: red
  
        .box-shadow
          margin-right: -50%
          padding-right: 50%
          
      &:nth-child(even)
        //background-color: blue

        .box-shadow
          text-align: right
          margin-left: -50%
          padding-left: 50%



  .project-box
    h3
      font-size: 30px

    .box-shadow
      box-shadow: 9px 8px 17px 0 rgba(0, 0, 0, 0.1)
      border-radius: 8px
      border: 1px solid #DFDFE2
      padding: 2em 

      p
        font-weight: 100

      a.btn
        margin-top: 2em

    figure
      z-index: 1
      position: relative

      img
        max-width: 100%
        height: auto

      