<app-main-header></app-main-header>
<section class="main-content main-wrap">

  <div class="gs main-description main-wrap-inner">
    <div class="lay">
      <p>Hey, I’m Nicko, a <b>UX designer</b> who is currently using creative collaboration and design process to solve complex problems for
startups in Miami and Latin America. I love what I do. </p>

      <div class="__buttons">
        <a href="" class="btn btn-black">Projects</a>
        <a href="" class="btn btn-white">Story</a>
      </div>
    </div>
    <div class="lay">
      <figure>
        <img src="assets/me.png" alt="">
      </figure>
    </div>
  </div>

  <section class="section-projects main-wrap-inner">

    <h2>PROJECTS</h2>

    <div class="project-boxes">
      
      <div class="project-box">

        <div class="gs">
          <div class="lay">
            <h3>Emerge.me</h3>
            <div class="box-shadow">
              <p>Emerge is an online marketplace challenging the status quo of supplemental insurance. As a startup, they needed help pushing their desktop and mobile experiences in the right direction.</p>

              <p>I was hired to collaborate with the team and improve the UX/UI throughout the site. In the end, I redesigned multiple aspects of the site which resulted in reduced bounces rates, higher conversions, and ultimately more sales.</p>

              <a href="" class="btn btn-black">View Project</a>
            </div>
          </div>
          <div class="lay">
            <figure>
              <img src="//dummyimage.com/600x400" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay order-2">
            <h3>Emerge.me</h3>
            <div class="box-shadow">
              <p>Emerge is an online marketplace challenging the status quo of supplemental insurance. As a startup, they needed help pushing their desktop and mobile experiences in the right direction.</p>

              <p>I was hired to collaborate with the team and improve the UX/UI throughout the site. In the end, I redesigned multiple aspects of the site which resulted in reduced bounces rates, higher conversions, and ultimately more sales.</p>

              <a href="" class="btn btn-black">View Project</a>
            </div>
          </div>
          <div class="lay order-1">
            <figure>
              <img src="//dummyimage.com/600x400" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay">
            <h3>Emerge.me</h3>
            <div class="box-shadow">
              <p>Emerge is an online marketplace challenging the status quo of supplemental insurance. As a startup, they needed help pushing their desktop and mobile experiences in the right direction.</p>

              <p>I was hired to collaborate with the team and improve the UX/UI throughout the site. In the end, I redesigned multiple aspects of the site which resulted in reduced bounces rates, higher conversions, and ultimately more sales.</p>

              <a href="" class="btn btn-black">View Project</a>
            </div>
          </div>
          <div class="lay">
            <figure>
              <img src="//dummyimage.com/600x400" alt="">
            </figure>
          </div>
        </div>
      </div>

    </div>




  </section>
</section>