<app-main-header></app-main-header>
<section class="main-content main-wrap">

  <div class="gs main-description">
    <div class="lay">
      <div class="main-info">
      
        <p>Hey, I’m Nicko, a <b>UX designer</b> who is currently designing products in the logistics, insurance, fintech, and agriculture industries. Working in Miami and Latin America. I love what I do.</p>

        <div class="__buttons">
          <a routerLink="/design-process" class="btn btn-black btn-animation">
            <span>Process</span>
            <i class="material-icons">arrow_forward</i>
          </a>
          <a routerLink="/story" class="btn btn-white btn-animation">
            <span>Story</span>
            <i class="material-icons">arrow_forward</i>
          </a>
        </div>
      </div>
    </div>
    <div class="lay">
      <figure>
        <img src="assets/me.png" alt="">
      </figure>
    </div>
  </div>

  <section class="section-projects main-wrap-inner">

    <h2>PROJECTS</h2>

    <div class="project-boxes">
      
      <div class="project-box">

        <div class="gs">
          <div class="lay col-left">
            <h3>Cubic.mx</h3>
            <div class="box-shadow">

              <p>Cubic is a platform that solves the problem of inflexible warehousing in Latin America. As the lead UX/Product designer, I was challenged with taking an idea and turning it into a fully functional platform that was launched in Mexico City.</p>

              <p>One user test at a time, we sucessfully lauched the product and it it now gaining traction. See it live at www.cubic.mx</p>

              <a href="https://cubic.mx" target="_blank" class="btn btn-black btn-animation">
                <span>View Project</span>
                <i class="material-icons">arrow_forward</i>
              </a>

            </div>
          </div>
          <div class="lay col-right cubic-assets">
            <figure class="_macbook has-transition has-fade-in animation-1" [ngClass]="{'apply-animation': animations.apply1}">
              <img src="assets/cubicMacbook.png" alt="">
            </figure>
            <figure class="_smartphone has-transition has-fade-in animation-2" [ngClass]="{'apply-animation': animations.apply2}">
              <img src="assets/cubicNexus.png" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay col-left">
            <h3>Emerge.me</h3>
            <div class="box-shadow">
              <p>Emerge is an online marketplace challenging the status quo of supplemental insurance. As a startup, they needed help pushing their desktop and mobile experiences in the right direction.</p>

              <p>I was hired to collaborate with the team and improve the UX/UI throughout the site. In the end, I redesigned multiple aspects of the site which resulted in reduced bounces rates, higher conversions, and ultimately more sales. See it live at www.emerge.me</p>

              <a href="" target="_blank" class="btn btn-black btn-animation">
                <span>View Project</span>
                <i class="material-icons">arrow_forward</i>
              </a>
            </div>
          </div>
          <div class="lay col-right emerge-assets">
            <figure class="_macbook has-transition has-fade-in animation-3" [ngClass]="{'apply-animation': animations.apply3}">
              <img src="assets/emergeMacbook.png" alt="">
            </figure>
            <figure class="_smartphone has-fade-in animation-4" [ngClass]="{'apply-animation': animations.apply4}">
              <img src="assets/emergeNexus.png" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay col-left">
            <h3>Brewbox.ca</h3>
            <div class="box-shadow">
              <p>Brewbox is a subscription-based, craft beer delivery service. The Brewbox team was looking to add a second product without detracting from their core service.</p>

              <p>To deliver an improved user experience, the UX team and I designed an end-to-end service for both customers and suppliers, as well as collaborating with an industrial designer to rethink the Brewbox packaging..</p>

              <a href="" target="_blank" class="btn btn-black btn-animation">
                <span>View Project</span>
                <i class="material-icons">arrow_forward</i>
              </a>
            </div>
          </div>
          <div class="lay col-right brewbox-assets">
            <figure class="_box has-fade-in animation-5" [ngClass]="{'apply-animation': animations.apply5}">
              <img src="assets/brewBox.png" alt="">
            </figure>
          </div>
        </div>
      </div>

      <div class="project-box">

        <div class="gs">
          <div class="lay col-left">
            <h3>DakotaFox</h3>
            <div class="box-shadow">
              <p>As the cofounder of DakotaFox, we designed a physical product for rural roads in North Dakota to alert truck drivers to low hanging power lines. Accidents stemming from power line collisions were costing companies around $50,000 USD.</p>

              <p>After conducting numerous interviews, rapid prototyping and field testing, we built a solution that also stood up to the unique challenges of the extreme North Dakota weather.</p>

              <a href="" target="_blank" class="btn btn-black btn-animation">
                <span>View Project</span>
                <i class="material-icons">arrow_forward</i>
              </a>
            </div>
          </div>
          <div class="lay col-right dakota-assets">
            <figure class="_macbook has-fade-in animation-6" [ngClass]="{'apply-animation': animations.apply6}">
              <img src="assets/dakotafox.png" alt="">
            </figure>
          </div>
        </div>
      </div>

    </div>


  </section>
</section>
<app-main-footer></app-main-footer>