<app-main-header></app-main-header>
<section class="main-content main-wrap">

  <div class="gs main-header-info">
    <div class="lay-70 left-col">
      <h2 class="main-title">Great design <span>is <b>invisible</b></span></h2>
      <div class="box-shadow">
        <p>Great design becomes unnoticed. Solutions that put humans at the center should mirror reality. Physical or digital, tasks should be effortless, so much so the design becomes invisible and the product just works.</p>
      </div>
    </div>
    <div class="lay-30 right-col">
      <figure>
        <img src="assets/halloween-black-ghost.svg" alt="">
      </figure>
    </div>
  </div>

  <div class="main-wrap-inner">


    <div class="list-icons">
      <div class="list-icon" [ngClass]="{'apply-animation': animations.apply1}">
        <h4>Design is function + form</h4>
        <div class="gs">
          <div class="lay-20 left-col">
            <i class="material-icons">headset</i>
          </div>
          <div class="lay">
            <p>Function and form work in parallel. In all great design, there’s a perfect balance between the two. If a product meets users needs, it will embody the ‘form follows function’ ethos. Products that are designed with humans at the center will function great, and equally be visually impressive. Visual design plays a significant role in whether a person decides to engage with a product and it’s the balance between form and function keeps them using it. </p>
          </div>
        </div>
      </div>

      <div class="list-icon" [ngClass]="{'apply-animation': animations.apply2}">
        <h4>Design perfection is impossible</h4>
        <div class="gs">
          <div class="lay-20 left-col">
            <i class="material-icons">change_history</i>
          </div>
          <div class="lay">
            <p>People evolve. Expectations, desires, and emotions change over time. Design should equally evolve to meet users new expectations and needs. The product life cycle should be in constant flux. Great designer are receptive to change and iterate when necessary. As a result, a human centered product is never complete. </p>
          </div>
        </div>
      </div>

      <div class="list-icon" [ngClass]="{'apply-animation': animations.apply3}">
        <h4>Design is inclusive</h4>
        <div class="gs">
          <div class="lay-20 left-col">
            <i class="material-icons">accessibility</i>
          </div>
          <div class="lay">
            <p>It’s easy to design with bias. Designers sometimes forget that not all users have the same abilities. Great design should be able to be accessed and used by all people regardless of their age, size, ability or disability. It’s not just about designing for a minority, when designers create products for all individuals, everyone benefits.</p>
          </div>
        </div>
      </div>

      <div class="list-icon" [ngClass]="{'apply-animation': animations.apply4}">
        <h4>Design is a social responsibility</h4>
        <div class="gs">
          <div class="lay-20 left-col">
            <i class="material-icons">public</i>
          </div>
          <div class="lay">
            <p>Design can have far reaching impacts. It can lead to social change, both positive and negative. At times, design has unintended consquences. It is the responsibilty of makers to employ empathy and focus on designing products that result in positive social change, while simultaneously mitagating negative consquences.</p>
          </div>
        </div>
      </div>


    </div>

  </div>


</section>
<app-main-footer></app-main-footer>