<form #signinForm="ngForm" (ngSubmit)="onSignIn(signinForm)">
  <div class="form-row">
    <label>Email:</label>
    <div class="input block ">
      <input type="text" name="email" placeholder="Correo electrónico" ngModel #email="ngModel" required>
    </div>
    <small class="block align-right" *ngIf="(email.touched || signinForm.submitted) && email.hasError('required')">Can't be blank</small>
  </div>
  <div class="form-row">
    <label>Password:</label>
    <div class="input block">
      <input type="password" name="password" placeholder="Contraseña" ngModel #password="ngModel" required>
    </div>
    <small class="block align-right" *ngIf="(password.touched || signinForm.submitted) && password.hasError('required')">Can't be blank</small>
    <small class="block align-right" *ngIf="(password.touched || signinForm.submitted) && password.hasError('minlength') || password.hasError('maxlength')">The password length should be min 6 and max 16 characters</small>
  </div>
  <div>
    <button type="submit" class="btn btn-primary block" [ngClass]="{'btn-loading': loadings.onSignIn}">
      <span>Iniciar sesión</span>
    </button>
  </div>
</form>
