<div class="reset-password">
    <div class="box-reset">
      <h2>Reset Password</h2>
      <p>Please enter the code to reset your password</p>

      <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
        <div class="form-row">
          <div class="input block ">
            <input type="text" name="code" placeholder="Code" ngModel #code="ngModel" required>
          </div>
          <small class="block align-right" *ngIf="(code.touched || resetPasswordForm.submitted) && code.hasError('required')">Can't be blank</small>
        </div>

        <div class="form-row">
          <div class="input block ">
            <input type="text" name="password" placeholder="New Password" ngModel #password="ngModel" required>
          </div>
          <small *ngIf="(password.touched || resetPasswordForm.submitted) && password.hasError('required')">Can't be blank</small>
          <small *ngIf="(password.touched || resetPasswordForm.submitted) && password.hasError('minlength') || password.hasError('maxlength')">The password length should be min 6 and max 16 characters</small>
        </div>

        <div class="form-row">
          <div class="input block ">
            <input type="text" name="repeatPassword" placeholder="Repeat New password" ngModel #repeatPassword="ngModel" required>
          </div>
          <small *ngIf="(repeatPassword.touched || resetPasswordForm.submitted) && repeatPassword.hasError('required')">Can't be blank</small>
          <small *ngIf="(repeatPassword.touched || resetPasswordForm.submitted) && !repeatPassword.hasError('required') && (password.value !== repeatPassword.value) ">Passwords do not match</small>
        </div>


        <div>
          <button type="submit" class="btn btn-primary block">Reset</button>
        </div>
      </form>

    </div>
</div>
