<div class="page">
  <div class="box-forgot">
      <h2>Forgot Password</h2>
      <p>Please enter your email to reset your password</p>

      <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
        <div class="form-row">
          <div class="input block ">
            <input type="text" name="email" placeholder="Email address" ngModel #email="ngModel" required>
          </div>
          <small class="block align-right" *ngIf="(email.touched || forgotPasswordForm.submitted) && email.hasError('required')">Can't be blank</small>
        </div>

        <div>
          <button type="submit" class="btn btn-primary block">Send</button>
        </div>
      </form>

    </div>
</div>
