<app-main-header></app-main-header>
<section class="main-content main-wrap">

  <div class="main-wrap-inner">
    
    <h2 class="main-title">Design process: <span>Thinking made visual</span></h2>

    <div class="gs main-header-info">
      <div class="lay-50 left-col">
        <figure>
          <img src="assets/eye-open.svg" alt="">
        </figure>
      </div>
      <div class="lay-50 right-col">
        <div class="box-shadow">
          <p>Without process, products are imcomplete and created from hopeful assumptions. But with process, design is a powerful tool that can help solve critical real world problems.</p>
        </div>
      </div>
    </div>

    <!-- <h3 class="main-title">A simplified look at design process</h3> -->

    <div class="list-icons">
      <div class="list-icon gs" [ngClass]="{'apply-animation': animations.apply1}">
        <div class="lay-20 left-col">
          <i class="material-icons">favorite</i>
        </div>
        <div class="lay">
          <h4>Start with empathy</h4>
          <p>Dig deep. Creating a solution to a specific problem should always start with developing a genuine and personal understanding of the people being affected by that problem. Designing a purposeful solution comes from engaging in the user’s daily lives and gaining an understanding of their experiences and motivations. Without developing this empathy, human centered design falls apart.</p>
        </div>
      </div>

      <div class="list-icon gs" [ngClass]="{'apply-animation': animations.apply2}">
        <div class="lay-20 left-col">
          <i class="material-icons flip-180 bkg-white i-search">search</i>
        </div>
        <div class="lay">
          <h4>Research and discovery</h4>
          <p>The sooner you can begin the discovery and research phase, the better. Using the right research methods is very valuable in producing data and insights. But like most design processes, it does not have to be a linear ‘start & finish’ task. Research should continue throughout the entire life cycle of a product. This will lead to a refined product that constantly evolves with the user’s needs.</p>
        </div>
      </div>

      <div class="list-icon gs" [ngClass]="{'apply-animation': animations.apply3}">
        <div class="lay-20 left-col">
          <i class="material-icons bkg-white">pie_chart</i>
        </div>
        <div class="lay">
          <h4>Define the problem</h4>
          <p>In design, it’s critical to question what you're creating, and why. Defining the problem is a way to gain clarity and ensure you’re not only solving the right problem, but that your team is also working towards a common goal. Taking the time to clarify which problem the team is solving will make the entire design process smoother because everyone will be focused on solving the right problem. But how do you find the right problem to solve? You have to take the time to ask the right questions. </p>
        </div>
      </div>

      <div class="list-icon gs" [ngClass]="{'apply-animation': animations.apply4}">
        <div class="lay-20 left-col">
          <i class="material-icons bkg-white">offline_bolt</i>
        </div>
        <div class="lay">
          <h4>Brainstorm and explore </h4>
          <p>Generate ideas, all kinds of ideas. Start with the most outlandish and crazy ones. Brainstorm sessions leverage the collective abilities of a group, by engaging with each other, listening, and building on each other’s ideas. Like many tools in the design process, brainstorming should be used frequently and throughout the product life cycle. Brainstorming is gateway to exploration. It should not only involve your team, but should include all stakeholders so they too can assist in creative collaboration.</p>
        </div>
      </div>

      <div class="list-icon gs" [ngClass]="{'apply-animation': animations.apply5}">
        <div class="lay-20 left-col">
          <i class="material-icons flip-180">build</i>
        </div>
        <div class="lay">
          <h4>Prototype, iterate, and build </h4>
          <p>Maybe it’s a desktop or mobile application, a car infotainment interface, or a bank ATM. Using rapid prototyping enables designers to validate ideas with users, stakeholders, developers and other team members early in the design process. Once a specific set of goals is achieved through prototyping and validation, designs can then be built. Ultimately, rapid prototyping creates team discussion through visuals instead of words, leading to a better design, faster.</p>
        </div>
      </div>

      <div class="list-icon gs" [ngClass]="{'apply-animation': animations.apply6}">
        <div class="lay-20 left-col">
          <i class="material-icons bkg-white i-cached">cached</i>
        </div>
        <div class="lay">
          <h4>Test, iterate, repeat</h4>
          <p>Testing allows designers to refine products before they are built. User testing reveals psychological and behavioural insights from users that will improve not just user interfaces and products, but also business as a whole. The more designers understand their users, the stronger and more successful the product and business will become. User testing saves companies a lot of money, and equally important, allows designers to create a truly delightful experience.</p>
        </div>
      </div>


    </div>

  </div>


</section>
<app-main-footer></app-main-footer>