/* You can add global styles to this file, and also import other style files */
@import 'sass/hagrid-modules'
@import "~ngx-toastr/toastr"
html, body
  margin: 0
  padding: 0

.btn
  &.btn-primary
    background-color: #00CA9D
    &:hover
      background-color: darken(#00CA9D, 4)

.overlay-container
  display: block
