header
  padding: .5em 0
  width: 100%
  position: fixed
  top: 0
  left: 0
  background-color: #fff
  z-index: 10

  &.show-shadow
    box-shadow: 0 0 5px rgba(0, 0, 0, .1)

  nav
    &.nav-brand
      width: 220px
      font-family: 'Roboto Mono', monospace
    a
      color: #000
      text-decoration: none
      display: inline-block
      padding: .5em 0
      margin: 0 1em 0 
      //border-bottom: 3px solid #fff
      position: relative
      overflow: hidden

      &:after
        content: ''
        position: absolute
        background: #fff
        height: 3px
        width: 100%
        left: -100%
        bottom: 0
        transition: left .5s

      &:hover
        &:after
          background-color: #000
          left: 0

      &.active-link
        font-weight: 700

        &:after
          background-color: #000
          left: 0
      
    .brand
      font-weight: bold

      &:after
        display: none



