header
  padding: 1em 0

  nav
    &.nav-brand
      width: 220px
      font-family: 'Roboto Mono', monospace
    a
      color: #000
      text-decoration: none
      display: inline-block
      padding: .5em 0
      margin: 0 1em
      //border-bottom: 3px solid #fff
      position: relative
      overflow: hidden

      &:after
        content: ''
        position: absolute
        background: #fff
        height: 3px
        width: 100%
        left: -100%
        bottom: 0
        transition: left .5s

      &:hover
        &:after
          background-color: #000
          left: 0

      &.active-link
        font-weight: 700

        &:after
          background-color: #000
          left: 0
      
    .brand
      font-weight: bold

