<header [ngClass]="{'show-shadow': showShadow}">
  <div class="main-wrap">
    <div class="gs">
      <nav class="nav-brand">
        <a routerLink="/" class="brand">Nicholas Peckham</a>
      </nav>
      <nav class="align-right w-100">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Projects</a>
        <a routerLink="/design-process" routerLinkActive="active-link" >Design Process</a>
        <a routerLink="/design-philosophy" routerLinkActive="active-link" >Design Philosophy</a>
        <a routerLink="/story" routerLinkActive="active-link" >Story</a>
        <a href="https://www.visualcv.com/hellonicko" target="_blank" >Résumé</a>
      </nav>      
    </div>
  </div>
</header>