<header class="main-wrap">
  <div class="gs">
    <nav class="nav-brand">
      <a routerLink="/" class="brand">Nicholas Peckham</a>
    </nav>
    <nav class="align-right w-100">
      <a routerLink="/projects" routerLinkActive="active-link">Projects</a>
      <a routerLink="/design-process" routerLinkActive="active-link">Design Progress</a>
      <a routerLink="/design-philosophy" routerLinkActive="active-link">Design Philosophy</a>
      <a routerLink="/story" routerLinkActive="active-link">Story</a>
    </nav>      
  </div>
</header>