header
  padding: 1em 0

  nav
    &.nav-brand
      width: 200px
    a
      color: #000
      text-decoration: none
      display: inline-block
      padding: .5em
      
    .brand
      font-weight: bold

